# Tugas 7

### **Transformasi data categorical menjadi numeric**

In [22]:
# import library
import numpy as np
import pandas as pd

In [23]:
#source data
dataset_url = "https://raw.githubusercontent.com/indyrajanuar/datamining/main/credit_score.xlsx"
#create dataframe
df = pd.read_excel(dataset_url)

In [24]:
df

,Unnamed: 0,kode_kontrak,pendapatan_setahun_juta,kpr_aktif,durasi_pinjaman_bulan,jumlah_tanggungan,rata_rata_overdue,risk_rating
0,1,AGR-000001,295,YA,48,5,61 - 90 days,4
1,2,AGR-000011,271,YA,36,5,61 - 90 days,4
2,3,AGR-000030,159,TIDAK,12,0,0 - 30 days,1
3,4,AGR-000043,210,YA,12,3,46 - 60 days,3
4,5,AGR-000049,165,TIDAK,36,0,31 - 45 days,2
...,...,...,...,...,...,...,...,...
895,896,AGR-010739,112,YA,48,5,> 90 days,5
896,897,AGR-010744,120,YA,48,2,46 - 60 days,3
897,898,AGR-010758,166,TIDAK,24,2,0 - 30 days,1
898,899,AGR-010775,196,TIDAK,48,0,31 - 45 days,2
899,900,AGR-010790,204,TIDAK,24,2,0 - 30 days,1

In [25]:
# check information about our data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 900 entries, 0 to 899
Data columns (total 8 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0               900 non-null    int64
 1   kode_kontrak             900 non-null    object
 2   pendapatan_setahun_juta  900 non-null    int64
 3   kpr_aktif                900 non-null    object
 4   durasi_pinjaman_bulan    900 non-null    int64
 5   jumlah_tanggungan        900 non-null    int64
 6   rata_rata_overdue        900 non-null    object
 7   risk_rating              900 non-null    int64
dtypes: int64(5), object(3)
memory usage: 56.4+ KB

In [26]:
df.drop(columns=['kode_kontrak'])

,Unnamed: 0,pendapatan_setahun_juta,kpr_aktif,durasi_pinjaman_bulan,jumlah_tanggungan,rata_rata_overdue,risk_rating
0,1,295,YA,48,5,61 - 90 days,4
1,2,271,YA,36,5,61 - 90 days,4
2,3,159,TIDAK,12,0,0 - 30 days,1
3,4,210,YA,12,3,46 - 60 days,3
4,5,165,TIDAK,36,0,31 - 45 days,2
...,...,...,...,...,...,...,...
895,896,112,YA,48,5,> 90 days,5
896,897,120,YA,48,2,46 - 60 days,3
897,898,166,TIDAK,24,2,0 - 30 days,1
898,899,196,TIDAK,48,0,31 - 45 days,2
899,900,204,TIDAK,24,2,0 - 30 days,1

In [28]:
df[['kpr_aktif','rata_rata_overdue']]

    kpr_aktif rata_rata_overdue
0          YA      61 - 90 days
1          YA      61 - 90 days
2       TIDAK       0 - 30 days
3          YA      46 - 60 days
4       TIDAK      31 - 45 days
..        ...               ...
895        YA         > 90 days
896        YA      46 - 60 days
897     TIDAK       0 - 30 days
898     TIDAK      31 - 45 days
899     TIDAK       0 - 30 days

[900 rows x 2 columns]

In [29]:
from sklearn.preprocessing import LabelEncoder

labelencoder = LabelEncoder()
df['kpr_aktif'] = labelencoder.fit_transform(df['kpr_aktif'])
df['rata_rata_overdue'] = labelencoder.fit_transform(df['rata_rata_overdue'])

In [30]:
df[['kpr_aktif','rata_rata_overdue']]

     kpr_aktif  rata_rata_overdue
0            1                  3
1            1                  3
2            0                  0
3            1                  2
4            0                  1
..         ...                ...
895          1                  4
896          1                  2
897          0                  0
898          0                  1
899          0                  0

[900 rows x 2 columns]